.lead {
  text-align: center;
  padding: 0 0 64px;
}

@media (min-width: 768px) {
  .lead {
    padding-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .lead {
    padding: 0 48px 92px;
  }
}

@media (min-width: 1280px) {
  .container_place_lead {
    padding: 0 148px 92px;
  }
}
