.gallery__item {
  width: 100%;
  height: calc((100vw - 32px) * 0.75);
}

.gallery__item:not(:last-child) {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .gallery__item {
    height: calc((100vw - 64px) / 2 * 0.75);
  }

  .gallery__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .gallery__item {
    height: calc((100vw - 124px) / 3 * 0.75);
  }
}

@media (min-width: 1280px) {
  .gallery__item {
    height: 213px;
  }
}
