.gallery__item {
  width: 100%;
  height: calc((100vw - 32px) * 0.75);
  background-color: transparent;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__item:not(:last-child) {
  margin-bottom: 12px;
}

.gallery__item:nth-last-child(1) {
  background-image: url(../../../images/pic-12.jpg);
}

.gallery__item:nth-last-child(2) {
  background-image: url(../../../images/pic-1.jpg);
}

.gallery__item:nth-last-child(3) {
  background-image: url(../../../images/pic-2.jpg);
}

.gallery__item:nth-last-child(4) {
  background-image: url(../../../images/pic-3.jpg);
}

.gallery__item:nth-last-child(5) {
  background-image: url(../../../images/pic-4.jpg);
}

.gallery__item:nth-last-child(6) {
  background-image: url(../../../images/pic-5.jpg);
}

.gallery__item:nth-last-child(7) {
  background-image: url(../../../images/pic-6.jpg);
}

.gallery__item:nth-last-child(8) {
  background-image: url(../../../images/pic-7.jpg);
}

.gallery__item:nth-last-child(9) {
  background-image: url(../../../images/pic-8.jpg);
}

.gallery__item:nth-last-child(10) {
  background-image: url(../../../images/pic-9.jpg);
}

.gallery__item:nth-last-child(11) {
  background-image: url(../../../images/pic-10.jpg);
}

.gallery__item:nth-last-child(12) {
  background-image: url(../../../images/pic-11.jpg);
}

@media (min-width: 768px) {
  .gallery__item {
    height: calc((100vw - 64px) / 2 * 0.75);
  }

  .gallery__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .gallery__item {
    height: calc((100vw - 124px) / 3 * 0.75);
  }
}

@media (min-width: 1280px) {
  .gallery__item {
    height: 213px;
  }
}
