.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 28px;
    padding-bottom: 48px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}
