.container_place_lead {
  padding: 0;
}

@media (min-width: 1024px) {
  .container_place_lead {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .container_place_lead {
    padding: 0 148px;
  }
}
