.container_place_places {
  padding: 0;
}

@media (min-width: 768px) {
  .container_place_places {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .container_place_places {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .container_place_places {
    padding: 0 148px;
  }
}
